@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Noto Sans', sans-serif;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
}

#root {
  width: 100%;
}

.app-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timeline {
  widh: 100%;
  max-width: 480px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-creator {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.post-creator-dp {
  border-width: 0;
  border-radius: 50%;
}

.post-creator-name {
  margin: 0;
}

.post-photo {
  max-width: 100%
}

.post p { margin: 0}
.post br { display: none}

.post-caption {
  font-size: 1rem;
  border-left: 0.25rem solid grey;
  padding-left: 0.5rem;
}

.post-social-interactions {
  display: flex;
  flex-direction: row;
  gap: .25rem;
}

.post-social-interactions button {
  border: 0;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
}

.post-social-interactions button:hover {
  background-color: #fafafa;
}

.post-social-interactions button i {
  font-size: 1rem;
}